@{
    ViewData["Title"] = "Contact us";
}
<h2>@ViewData["Title"]</h2>


<!-- <h3>@ViewData["Message"]</h3> -->

<address>
    1465, rue Denault,<br />
    app #2,Sherbrooke<br />
    <abbr title="Phone">Phone:</abbr>
    1.418.222.7814
</address>

<address>
    <strong>JO:</strong> <a href="mailto:jean-olivier.lessard@usherbrooke.ca">jean-olivier.lessard@usherbrooke.ca</a><br />
    <strong>Alex:</strong> <a href="mailto:alex.veilleux2@usherbrooke.ca">alex.veilleux2@usherbrooke.ca</a>
</address>
