<!-- Team Members -->
<h2>Our Team</h2>

<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="~/images/alex.jpg" alt="" height="300" width="200">
            <div class="card-body">
                <h4 class="card-title">Alex Veilleux</h4>
                <h6 class="card-subtitle mb-2 text-muted">Développeur et analyst back-end</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="~/images/bryan.jpg" alt="" height="300" width="200">
            <div class="card-body">
                <h4 class="card-title">Bryan Fortin</h4>
                <h6 class="card-subtitle mb-2 text-muted">Développeur et analyste front-end</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="~/images/will.jpg" alt="" height="300" width="200">
            <div class="card-body">
                <h4 class="card-title">William Poulin</h4>
                <h6 class="card-subtitle mb-2 text-muted">Scrum master et développeur</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="~/images/jio.jpg" alt="" height="300" width="200">
            <div class="card-body">
                <h4 class="card-title">Jean-Olivier Lessard</h4>
                <h6 class="card-subtitle mb-2 text-muted">Product owner et analyste base de données</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="~/images/ben.jpg" alt="" height="300" width="200">
            <div class="card-body">
                <h4 class="card-title">Benjamin Tetrault</h4>
                <h6 class="card-subtitle mb-2 text-muted">Développeur et analyste périphériques</h6>
            </div>
        </div>
    </div>
</div>